<!DOCTYPE html>
<html lang="en">
<head>
<title>Pagina Web</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<meta charset="UTF-8">
</head>    
<body>
    <div class = "container p-4">                            
    <div id="main-container">
            <main>
                <i class='bx bxl-facebook-circle' ></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bx-bookmarks' ></i>
                <h1 class="center"> ¡Haz conocer tu opinion!</h1>
                <hr class = line>
                <div class = "container-commets">
                    <div class = "info-commets">
                        <div class="header">
                        
                            <h5>¡¡Comenta y enterate!!</h5>
                        
                        </div> 
                        <p>Hola te gustaría hablar a cerca de tus ingenierios 
                            y dar una opinion respecto a ello, y decir lo increible
                            que son los ingenieros que imparten clases de tu 
                            conocimiento o advertir sobre los mismos, 
                            Deja tus comentarios, serán de mucha ayuda para el resto.
                        </p>
                        <div class = "footer">
                            <h5 class = "request">Responder</h5>
                        </div>
                    </div>
                </div>
            </main>
            
            </div>
        <!--! Definimos nuestras tarjetas -->
            <div class="col-md-4" *ngFor = "let comentario of comentarios">
        <div class="card text-center">
            <div class="card-header bg-dark d-flex text-white justify-content-between align-items-center">
                {{comentario.titulo}}
                <br>
                
                
            <div class="card-group mt-1">
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Creado por:
                {{comentario.usuarioRA}}
                <br>
                Tipo:
                {{comentario.tipo}}
            </div>    

                <button class = "btn btn-danger"></button>
                <i class = "far fa- trash-alt"></i>
            </div>
               
            <div class="card-body">
                Fecha: 
                {{comentario.created_at}}
                <p>{{comentario.descripcion}}</p>
                <a  class = "btn btn-info btn-block">
                    Comentar
                    <!--* Editación de nuestra deck -->
                </a>
            </div>               
        </div> 
        <br><br>
        </div>
        
        
        </div>
</body>            
</html>