<!DOCTYPE html>
<html lang="en">
<head>
<title>Pagina Web</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<meta charset="UTF-8">
</head>    
<body>
                            
    <div id="main-container">
            <main>
                <i class='bx bxl-facebook-circle' ></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bx-bookmarks' ></i>
                <h1 class="center"> ¡Haz conocer tu opinion!</h1>
                <hr class = line>
                <div class = "container-commets">
                    <div class = "info-commets">
                        <div class="header">
                            <h4>Usuario</h4>
                            <h5>30/03/2022</h5>
                        
                        </div> 
                        <p>Hola me gustaría hablar a cerca del ingenierio 
                            y la verdad es que es un increible cátedratico
                            su metodología es agradable, sin embargo sus examenes
                            suelen ser un poco complicados, pero justos
                            para lo que enseña.
                        </p>
                        <div class = "footer">
                            <h5 class = "request">Responder</h5>
                        </div>
                    </div>
                </div>
            </main>
            
            </div>
</body>            
</html>